<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
  <add key="nuget principal" value="https://api.nuget.org/v3/index.json2" />
  <add key="Package source" value="https://api.nuget.org/v3/index.json" />
 </packageSources>
  <disabledPackageSources>
    <add key="nuget principal" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
